body {
    background-color: #d4dfc8;
}
h3{
    color: #0c0909;
}
h1{
    text-align: center;
}
footer {
    background-color: #d4dfc8;;
    padding: 5px;
    text-align: center;
    color:black;
  }
  